.THIS .chat-bot-container{
    border-radius:4px;box-shadow:0px 6px 6px 3px #c2cedb;bottom:0;right:2px;height:480px;width: 360px;overflow:hidden;background: #FFF;z-index: 9;
}
.THIS .chat-bot-container.minimize-it{
    height:38px;border:1px solid #A8b7c7;border-bottom:2px solid #1589EE;
}
.THIS .chat-bot-topbar{color:#FFF;height:37px;line-height:35px;background:#f7f9fb;border-bottom:2px solid #1589EE;}
.THIS .chat-bot-topbar .selected{background:#1589EE;}
.THIS .chat-bot-topbar .selected svg{fill:#FFF;position:relative;top:-2px;}

.THIS .chat-bot-topbar .chat-type-title{color:#333;position:relative;top:0px;left:5px;cursor:pointer;}
.THIS .chat-bot-topbar .selected .chat-type-title{color:#FFF;}

.THIS .chat-bot-conversation-panel-sfdc{height:auto;overflow:auto;}
.THIS .chat-bot-conversation-panel{height:400px;overflow:auto;}
.THIS .chat-bot-conversation-panel .from-bot{margin-top:1rem;color:#FFF;font-size: 14px;min-height: 40px;background: #4bca81;max-width: 80%;border-radius: 5px;padding: 10px;float:left;}
.THIS .chat-bot-conversation-panel .from-user{margin-top:1rem;color:#16325c;font-size: 14px;min-height: 40px;background: #f7f9fb;max-width: 80%;border-radius: 5px;padding: 10px;float:right;}
.THIS .chat-bot-conversation-panel .your-name{font-weight:300;}
.THIS .chat-bot-conversation-panel .bot-name{font-weight:300;}
.THIS .chat-bot-messaging-panel .slds-form-element__control svg{right:10px;cursor:pointer;}
.THIS .chat-minimize{right:0;top: 0;margin-right: 10px;cursor: pointer;}
.THIS .chat-bot--speak-icon{top:6px;right:6px;}

.THIS .chat-bot--speak-icon.speaking svg{fill:#c23934;}